<div class="row">
    <div class="col-md-6">
        @Html.Partial("Charts/_Chart")
    </div>
    <div class="col-md-6">
        @Html.Partial("Charts/_PieChart")
    </div>
</div>

<div class="row p-t-6">
    <div class="col-md-6">
        @Html.Partial("Charts/_StockChart")
    </div>
    <div class="col-md-6">
        @Html.Partial("Charts/_PolarChart")
    </div>
</div>
