<div class="row">

    <div class="col-md-6">
        @(Html.DevExtreme().List()
            .ItemTemplate(@<text>
                <div><%= ProductName %></div>
                <div><b><%= Globalize.formatCurrency(UnitPrice, "USD") %></b></div>
            </text>)
            .DataSource(d => d.WebApi().Controller("ListData"))
            .DataSourceOptions(d => d
                .PageSize(1)
                .Sort("ProductName")
                .Group("Category.CategoryName")
                .Filter("[ 'UnitPrice', '>', '15' ]")
            )
            .Grouped(true)
            .CollapsibleGroups(true)
            .ItemDeleteMode(ListItemDeleteMode.SlideItem)
            .SelectionMode(ListSelectionMode.Multiple)
            .ShowSelectionControls(true)
            .PageLoadMode(ListPageLoadMode.ScrollBottom)
            .Height(600)
        )
    </div>
    <div class="col-md-6">
        @(Html.DevExtreme().List()
            .ItemTemplate(@<text>
                <div><%= ProductName %></div>
            </text>)
            .DataSource(d => d.WebApi().Controller("ListData"))
            .DataSourceOptions(d => d
                .PageSize(20)
                .Sort("ProductName")
            )
            .AllowItemReordering(true)
            .PullRefreshEnabled(true)
            .PageLoadMode(ListPageLoadMode.ScrollBottom)
            .Height(600)
        )
    </div>
</div>
